<div class="container" id="about">
    <div class="container__inner">
        <div class="box-about">
            <h3 class="title">About</h3>
            <div class="about">
                <div class="about__section about__section_right">
                    <h4 class="about__section__title">Goals</h4>
                </div>
                <div class="about__avatar">
                </div>
                <div class="about__section babout__section_left">
                    <h4 class="about__section__title">Dreams</h4>
                </div>
            </div>
            <div class="about">
                <div class="about__section about__section_right">
                    <div class="about__section__content">
                        Lorem ipsum dolor sit amet, ac erat dolor quisque magna
                        consectetur leo, pede nec phasellus praesent adipiscing.
                        Nullam diam magna at mauris amet, non ut urna a commodo.
                        Donec vivamus semper nisi velit, proin id turpis, vehicula
                        amet nullam convallis adipiscing ut sit, sit viverra. Duis
                        interdum eu eu sodales nec ut, non nibh accumsan eleifend.
                        Purus ut vitae sapien dui duis dolores, porttitor tempus nascetur
                        id ut, integer ut dignissim harum
                    </div>
                </div>
                <div class="about__avatar">
                    <img src="{{avatar}}" alt="avatar">
                </div>
                <div class="about__section about__section_left">
                    <h4 class="about__section__content">
                        Lorem ipsum dolor sit amet, ac erat dolor quisque magna
                        consectetur leo, pede nec phasellus praesent adipiscing.
                        Nullam diam magna at mauris amet, non ut urna a commodo.
                        Donec vivamus semper nisi velit, proin id turpis, vehicula
                        amet nullam convallis adipiscing ut sit, sit viverra. Duis
                        interdum eu eu sodales nec ut, non nibh accumsan eleifend.
                        Purus ut vitae sapien dui duis dolores, porttitor tempus nascetur
                        id ut, integer ut dignissim harum
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>