<div class="container">
    <div class="container__inner">
        <div class="box-contact">
            <h3 class="title">Contact</h3>
            <form [formGroup]="valForm" >
                <div class="contact">
                    <div class="contact__label">
                        <div class="form-group">
                            <label>Phone number:</label>
                            <p class="contact__label__help">
                                +38066-66-66-666
                            </p>
                        </div>
                    </div>
                    <div class="contact__form-input">
                        <div class="form-group">
                            <input name="tel" type="text" class="form-control" placeholder="Name" formControlName="tel">
                            <span *ngIf="formErrors.tel" class="form-control__errors">The field has not passed validation</span>
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <div class="contact__label">
                        <div class="form-group">
                            <label>Email:</label>
                            <p class="contact__label__help">
                                mail@gmail.com
                            </p>
                        </div>
                    </div>
                    <div class="contact__form-input">
                        <div class="form-group">
                            <input name="email" type="email" class="form-control" placeholder="Email" formControlName="email">
                            <span  *ngIf="formErrors.email" class="form-control__errors">The field has not passed validation</span>
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <div class="contact__label">
                        <div class="form-group">
                            <label>Skype:</label>
                            <p class="contact__label__help">
                                mySkypeAcc
                            </p>
                        </div>
                    </div>
                    <div class="contact__form-input">
                        <div class="form-group">
                            <textarea name="message" type="text" class="form-control" placeholder="Send a mesage" formControlName="message"></textarea>
                            <span *ngIf="formErrors.message" class="form-control__errors">The field has not passed validation</span>
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <div class="contact__label">
                    </div>
                    <div class="contact__form-input text-center">
                        <button type="submit" class="button" (click)="submit()" [disabled]="!valForm.valid">send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>