<div class="container">
    <div class="container__inner">
        <div class="box-contact">
            <h3 class="title">Contact</h3>
            <form>
                <div class="form-group">
                    <div class="contact">
                        <div class="contact__label">
                            <label>Phone number:</label>
                            <p class="contact__label__help">
                                +38066-66-66-666
                            </p>
                        </div>
                        <div class="contact__form-input">
                            <input name="name" type="text" class="form-control" placeholder="Name">
                            <span class="form-control__errors"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="contact">
                        <div class="contact__label">
                            <label>Email:</label>
                            <p class="contact__label__help">
                                mail@gmail.com
                            </p>
                        </div>
                        <div class="contact__form-input">
                            <input name="email" type="email" class="form-control" placeholder="Email">
                            <span class="form-control__errors"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="contact">
                        <div class="contact__label">
                            <label>Skype:</label>
                            <p class="contact__label__help">
                                mySkypeAcc
                            </p>
                        </div>
                        <div class="contact__form-input">
                            <input name="name" type="text" class="form-control" placeholder="Send a mesage">
                            <span class="form-control__errors"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>