<footer>
    <div class="container">
        <div class="footer-bar">
            <div class="footer-bar__info">
                <p class="footer-bar__info__content">
                    <span>Mobile:</span> +38066-66-66-666
                </p>
                <p class="footer-bar__info__content">
                    <span>Email:</span> mail@gmail.com
                </p>
                <p class="footer-bar__info__content">
                    <span>Skype:</span> mySkypeAcc
                </p>
            </div>
            <a href="/" class="footer-bar__logo">
                <img src="{{logo}}" alt="logo">
            </a>
        </div>
    </div>
</footer>